# Git files
.git
.gitignore
.gitattributes

# Docker files
Dockerfile
.dockerignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development files
.env
venv/
*.db

# Model directories - IMPORTANT
saved_models/
downloaded_models/

# Other environment files
*.ipynb_checkpoints